/.project.tex.swp
/.project.tex.un~
/project.tex~
/.project
/project.aux
/project.log
/project.toc
/.changelog.tex.swp
/.changelog.tex.un~
/.document.tex.swp
/.document.tex.un~
/changelog.tex~
/document.aux
/document.log
/document.tex~
/document.toc
